#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN0
pin: PA8
max_power: 0.8
cycle_time: 0.005
hardware_pwm: False
kick_start_time: 0.1
off_below: 0.1

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: ebb36rapido:PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

#[controller_fan controller_fan]
##  Controller fan - FAN2
#pin: PD12
#kick_start_time: 0.5
#heater: heater_bed, extruder
# Turns the Controller Fans on on any initial motor move
#stepper: stepper_x, stepper_y, stepper_z

[fan_generic nevermore]
# 4-pin computer PWM exhaust fan - FAN5
pin: PD12
max_power: 1.0
tachometer_pin: ^PG11
tachometer_ppr: 2
shutdown_speed: 0.0
kick_start_time: 0.5

#####################################################################
#   Bed fans (all four paralleled on FAN4 / PD14)
#   On while heater_bed target > 0, off when target is cleared.
#   Speed: SET_BED_FAN_SPEED SPEED=0.5  (or the Mainsail fan slider)
#####################################################################

[fan_generic bed_fans]
pin: PD14
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5

[gcode_macro _BED_FANS]
variable_speed: 1.0
gcode:
  {% set dummy = None %}

[gcode_macro SET_BED_FAN_SPEED]
description: Set bed fan duty (0.0-1.0); used next time the bed heats
gcode:
  {% set s = params.SPEED|default(1.0)|float %}
  {% if s < 0.0 %}{% set s = 0.0 %}{% endif %}
  {% if s > 1.0 %}{% set s = 1.0 %}{% endif %}
  SET_GCODE_VARIABLE MACRO=_BED_FANS VARIABLE=speed VALUE={s}
  {% if printer.heater_bed.target > 0.0 %}
    SET_FAN_SPEED FAN=bed_fans SPEED={s}
  {% endif %}

[delayed_gcode bed_fans_control]
initial_duration: 1.0
gcode:
  {% set target = printer.heater_bed.target %}
  {% set cur = printer["fan_generic bed_fans"].speed %}
  {% set speed = printer["gcode_macro _BED_FANS"].speed %}
  {% if target > 0.0 %}
    {% if cur < 0.01 %}
      SET_FAN_SPEED FAN=bed_fans SPEED={speed}
    {% endif %}
  {% else %}
    {% if cur >= 0.01 %}
      SET_GCODE_VARIABLE MACRO=_BED_FANS VARIABLE=speed VALUE={cur}
      SET_FAN_SPEED FAN=bed_fans SPEED=0
    {% endif %}
  {% endif %}
  UPDATE_DELAYED_GCODE ID=bed_fans_control DURATION=2.0

